<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <hr>
            <ion-button (click)="createUser()" expand="block" shape="round">
              Registrarse
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
